#landing-page{
  width: 100%;
  height: 100%;
}

#blurred-background{
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(2px);
  z-index: 1;
}

.button-wrapper{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-label{
  color: white !important;
}

.header-wrapper {
  position: relative;
  width: auto !important;
  height: 180px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 3;
}

.header {
  font-family: verdana !important;
  font-weight: bold !important;
  font-size: 3em !important;
  color: white !important;
}

.layout-wrapper {
  position: absolute;
}

.errorMsg{
  color:red;
  font-style: oblique;
  margin: 0.5em;
}

.signupform-wrapper {
  position: relative;
  height: auto;
  width: auto;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  z-index: 3;
}

Form {
  font-size: 1em;
  font-family: verdana;
  color: white;
}

input {
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1em !important;
  font-family: verdana !important;
  color: white !important;
}
