#blurred-background {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(2px);
  z-index: 1;
}

#landing-page{
  width: 100%;
  height: 100%;
}

.button-wrapper {
  width: 100%;
}

.errorMsg{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  font-style: oblique;
  margin: 0.5em;
  overflow: visible;
}

.form-label{
  color: white !important;
}

.header {
  font-family: verdana !important;
  font-weight: bold !important;
  font-size: 3em !important;
  color: white !important;
}

.header-wrapper {
  position: relative;
  width: auto !important;
  height: 180px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 3;
}

.layout-wrapper {
  position: absolute;
}

.modal-wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

.modal-actions-wrapper {
  display:flex;
  flex-direction: column;
}

.modal-actions-wrapper > button {
  width: 150px;
  box-shadow: 3px 3px grey !important;
  margin: 10px 0 0 0 !important;
}

.signupform-wrapper {
  position: fixed;
  height: auto;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  z-index: 3;
}

.signupform {
  width : 25%;
  text-overflow: clip;
  overflow: visible;
}

button {
  box-shadow: 3px 3px black !important;
}

Form {
  font-size: 1em;
  font-family: verdana;
  color: white;
}

input {
  box-shadow: 3px 3px black !important;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1em !important;
  font-family: verdana !important;
  color: white !important;
}
